<h1>Stupid Coaching!!..</h1>
<div>
  <h2>You asked the coach: "<%= params[:question]%>" </h2>
</div>

</div>
  <h2>Coach's Answer:" <%= @reply %>"</h2>
  <br>
  <%= link_to "Ask another question..", "/ask" %>
  <%# link_to is the function in rails, text, the path %>
<div>
